#
### project ##########################################################################

#
[project]
  name = "evohome-async"
  dynamic = ["readme", "version"]
  description = "An async client for connecting to Honeywell's TCC RESTful API."
  authors = [
    {name = "David Bonnes", email = "zxdavb@bonnes.me"},
    {name = "Andrew Stock", email = "evohome@andrew-stock.com"},
  ]
  maintainers = [
    {name = "David Bonnes", email = "zxdavb@bonnes.me"},
  ]
  dependencies = [
    "aiohttp>=3.8.5",
    "voluptuous>=0.13.1",
  ]
  requires-python = ">=3.11"
  license = {file = "LICENSE"}

  keywords = ["evohome", "honeywell", "resideo", "round thermostat", "tcc"]
  classifiers = [
    "Topic :: Home Automation",
  ]

#
[project.urls]
  "Homepage" = "https://github.com/zxdavb/evohome-async"
  "Bug Tracker" = "https://github.com/zxdavb/evohome-async/issues"
  "Wiki" = "https://github.com/zxdavb/evohome-async/wiki"


#
### build-system #####################################################################

[build-system]
  requires = ["hatchling"]
  build-backend = "hatchling.build"

[tool.hatch.build]
  sources = ["src"]

[tool.hatch.build.targets.wheel]
  packages = ["src/evohomeasync", "src/evohomeasync2"]

[tool.hatch.version]
  path = "src/evohomeasync2/__init__.py"


#
### pytest ###########################################################################

[tool.pytest.ini_options]
  asyncio_mode = "auto"


#
###  mypy ############################################################################

[tool.mypy]
  exclude = "docs"
  files = ["src/evohomeasync", "src/evohomeasync2"]

  check_untyped_defs = true
  disallow_any_generics = true
  disallow_any_unimported = true
  disallow_incomplete_defs = true
  disallow_subclassing_any = true
  disallow_untyped_calls = true
  disallow_untyped_defs = true
  disallow_untyped_decorators = true

  warn_no_return = true
  warn_redundant_casts = true
  warn_return_any = true
  warn_unused_ignores = true
  warn_unreachable = true


[tool.mypy-tests]
  ignore_errors = true


[tool.mypy-tests-tests_rf-mocked_server]
  ignore_errors = true

#
## ruff ##############################################################################

[tool.ruff]
  exclude = ["docs/*.py"]
  src = ["src", "tests"]
  target-version = "py311"  # Assume Python 3.11

[tool.ruff.lint]
  select = [
    "B",  # flake8-bugbear
    "E",  # pycodestyle
    "F",  # Pyflakes
    "I",  # isort
    # "SIM",  # flake8-simplify
    "UP",  # pyupgrade
  ]
  ignore = ["B011", "E501", "UP009"]
  # B011  - Do not call assert False since python -O removes these calls
  # E501  - Line too long
  # UP009 - UTF-8 encoding declaration is unnecessary

[tool.ruff.lint.isort]
  combine-as-imports = true  # default is false

