# Requirements to use the library via its CLI
# - last checked/updated: 2024-09-10
#

# library requirements (dependencies) are in pyproject.toml
# - pip list | grep -E 'evohome|aiohttp|voluptuous'

  -e .


# also required if using the the library via the CLI, client.py
  aiofiles >= 24.1.0
  asyncclick >= 8.1.7                            # NOTE: async version
  debugpy >= 1.8.5                               # can invoke via CLI

# check via: pip list | grep -E 'aiofiles|click|debugpy'
