# Requirements to dev/test the source code
#

# for using the the library with CLI
  -r requirements_cli.txt


# libraries required for development (lint/type/test)...
# - pip list | grep -E 'aio|pre_commit|ruff|mypy|types-|voluptuous|pytest|syrup|hatch'

# used for development (linting)
  pre-commit >= 4.2.0
  ruff >= 0.14.13                                # also see pre-commit-config.yaml

# used for development (typing)
  mypy >= 1.15.0
  types-aiofiles >= 24.1.0.20250822              # used only by CLI
  types-PyYAML >= 6.0.12.20250915                # used only by tests
  voluptuous >= 0.15.2

# used for testing
  aioresponses >= 0.7.8

  pytest >= 9.0.0
  pytest-asyncio >= 1.3.0
  pytest-cov >= 7.0.0
  pytest-freezer >= 0.4.9
  pytest-sugar >= 1.0.0
  pytest-xdist >= 3.8.0

  syrupy >= 5.0.0

# pytest_homeassistant_custom_component >= 0.13.162

# used for build/deploy (not used by HA)
  hatch >= 1.14.0
  hatchling >= 1.27.0
