# last checked/updated: 2024/09/10
#

# for using the the library via the CLI, client.py (includes requirements.txt)
  -r requirements_cli.txt

# used for development (linting)
  pre-commit>=3.8.0
  ruff>=0.6.4

# used for development (typing)
  mypy>=1.11.2
  types-aiofiles>=24.1.0  # aiofiles is used only by CLI
  types-PyYAML>=6.0.12
  voluptuous>=0.15.2

# used for testing
  pytest>=8.3.3
  pytest-asyncio>=0.24.0
  pytest-snapshot>=0.9.0
  pytest-sugar>=1.0.0
  pytest-xdist>=3.6.1
# pytest-cov

# used for testing at runtime
  debugpy >= 1.8.5

# used for build/deploy
  hatch>=1.12.0
  hatchling>=1.25.0
