# Requirements to dev/test the source code
# - last checked/updated: 2024-09-10
#

# for using the the library with CLI
  -r requirements.txt


# libraries required for development (lint/type/test)...
# - pip list | grep -E 'pre-commit|ruff|mypy|types-|voluptuous|pytest|syrup|hatch'

# used for development (linting)
  pre-commit >= 3.7.1
  ruff >= 0.6.6                                  # also: pre-commit-config.yaml

# used for development (typing)
  mypy >= 1.12.0
  types-aiofiles >= 23.2.0                       # used only by CLI
  types-PyYAML >= 6.0.12                         # used only by tests
  voluptuous >= 0.15.2

# used for testing
  aioresponses >= 0.7.6                         # to prevent leaking HTTP requests (not used by HA)
  pytest >= 8.3.1
  pytest-asyncio >= 0.23.8
# pytest-cov >= 5.0.0
  pytest-sugar >= 1.0.0
  pytest-xdist >= 3.6.1
  syrupy >= 4.6.1

# used for build/deploy (not used by HA)
  hatch >= 1.12.0
  hatchling >= 1.25.0
